.square {
  background-color: lightblue;
  border: 1px solid black;
  font-size: 24px;
  font-weight: 400;
  cursor: pointer;
}

.board {
  border: 2px solid blue;
  height: 20rem;
  width: 20rem;
  margin: 0 auto;
  display: grid;
  grid-template: repeat(3, 1fr) / repeat(3, 1fr);
  border-radius: 4px;
}